.show {
  display: flex !important;
  flex-direction: column !important;
  gap: 20px;
  transition: ease-in-out;
  translate: 10px;
  position: absolute;
  top: 10px;
  z-index: 1000%;
  background-color: brown;
}
