@media (max-width:1024px) {
  .show {
    display: flex !important;
    flex-direction: column !important;
    height: 400px;
    /* width: 100%; */
    position: absolute;
    top: 25px !important;
    padding-top: 10px;
  
  }
  
  .signit{
    background-color: aquamarine;
    height: 100px;
    width: 400px;
  }
}


.hide{
  display: none !important;
}


.flexIt{
  display: flex !important;
}